# EDA Image

In [1]:
import pandas as pd
from IPython.display import display_html

In [2]:
fp = "data/meta/2_clean/dicom.csv"

In [12]:
df = pd.read_csv(fp)
features = ["height", "width", "aspect_ratio"]
df[features].describe().T

         height
          count     mean    std      min      25%      50%      75%      max
cancer
False  2,108.00 5,151.78 646.70 3,256.00 4,584.00 5,071.00 5,664.00 6,871.00
True   1,457.00 5,320.68 693.34 3,721.00 4,712.00 5,251.00 5,872.00 7,111.00

          width
          count     mean    std      min      25%      50%      75%      max
cancer
False  2,108.00 3,191.15 534.38 1,561.00 2,864.00 3,061.00 3,656.00 5,251.00
True   1,457.00 3,061.60 577.96 1,531.00 2,656.00 2,968.00 3,451.00 5,431.00

       aspect_ratio
              count mean  std  min  25%  50%  75%  max
cancer
False      2,108.00 0.62 0.08 0.33 0.57 0.64 0.68 0.82
True       1,457.00 0.58 0.08 0.30 0.52 0.57 0.64 0.83